@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.root {
padding: 12px;
}
.container {
max-width: 960px;
margin: 0 auto;
}
.note {
margin-top: 8px;
font-size: 12px;
opacity: .8;
}

.mccServiceRequest {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}


// .dx-fileuploader-input-wrapper {
//     padding: 0px 0px;
// }