@import './variables';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small,
div {
  font-family: $font-primary;
}

//Loader
.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    margin: 3px;
    border: 4px solid #0078d4;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0078d4 transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//user card
.currentUserCard {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}



//Ask support
.fullWidthWrapper {
  width: 100%;
}


//survey
